footer {
  font-size: 15px;
  padding: 8rem 0 1rem 0;
  .center {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        a {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
  button {
    display: block;
    background-color: #ef6c00;
    width: 100%;
    padding: 0.5rem;
    color: #fff;
  }
}
