<footer>
  <div class="container-custom">
    <div class="row">
      <div class="left col">
        <h1>BEROWN<span class="logo-dot">.</span></h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          mollitia, aspernatur dolor incidunt sint neque.
        </p>
      </div>
      <div class="center col">
        <ul>
          <li>
            <h5>Services</h5>
          </li>
          <li><a href="#">Hotel Growth</a></li>
          <li><a href="#">Hotel Loan</a></li>
          <li><a href="#">Financial Planning</a></li>
          <li><a href="#">Insurance Consulting</a></li>
          <li><a href="#">Retirenment Planing</a></li>
        </ul>
      </div>
      <div class="center2 col ">
        <ul>
            <li><h5>Subscribe Newsletter</h5></li>
            <li>Get latest updates and offers.</li>
            <input type="text" class="border d-block mb-4">
            <button>Subscrib</button>
        </ul>

      </div>
      <div class="right col">
        <ul>
          <li>
           <h5>Contact Us</h5>
          </li>
          <li><p href="#">Apple St, New York, NY 10012, USA</p></li>
          <li><p href="#"> (20) 65 524 8503 / (20) 954 7854</p></li>
          <li><p href="#">example@gmail.com </p></li>
          <li>
            <i class="bi bi-google"></i>
            <i class="bi bi-google-play"></i>
            <i class="bi bi-github"></i>
            <i class="bi bi-linkedin"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
