.register {
  form {
    width: 70%;
  }
  h4 {
    position: relative;
    margin-bottom: 2rem;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      width: 40px;
      height: 2px;
      background-color: #ef6c00;
    }
  }
  button {
    color: #fff;
    background: #ef6c00;
    cursor: pointer;
  }
}
