<section class="register">
  <div class="container mb-5 mt-5">
    <h4 class="text-center text-dark mb-3 fw-bolder fs-3">Register</h4>
    <form
      (ngSubmit)="handelRegister(registerForm.value)"
      [formGroup]="registerForm"
      class="m-auto mb-5 row"
    >
      <div class="mb-3 col-12 col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          formControlName="name"
          name="name"
          id="name"
          class="form-control"
        />
        <div
          *ngIf="
            registerForm.get('name')?.errors &&
            registerForm.get('name')?.touched
          "
          class="text-danger mb-2">
        
          <p
            *ngIf="
          registerForm.get('name')?.errors?.['required']"
          >
            Name is required
          </p>
        </div>
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          formControlName="email"
          name="email"
          id="email"
          class="form-control"
        />
        <div
          *ngIf="
            registerForm.get('email')?.errors &&
            registerForm.get('email')?.touched
          "
          class="text-danger mb-2"
        >
          <p
            *ngIf="
            registerForm.get('email')?.errors?.['required']"
          >
            email is required
          </p>
          <p
            *ngIf="
            registerForm.get('email')?.errors?.['email']"
          >
            email invalid
          </p>
        </div>
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          formControlName="password"
          name="password"
          id="password"
          class="form-control"
        />
        <div
          *ngIf="
            registerForm.get('password')?.errors &&
            registerForm.get('password')?.touched
          "
          class="text-danger mb-2"
        >
          <p
            *ngIf="
            registerForm.get('password')?.errors?.['required']"
          >
            password is required
          </p>
          <p
            *ngIf="
          registerForm.get('password')?.errors?.['maxlength']"
          >
            Max length is 10
          </p>
          <p
            *ngIf="
        registerForm.get('password')?.errors?.['minlength']"
          >
            Min length is 6
          </p>
        </div>
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          name="confirmPassword"
          id="confirmPassword"
          class="form-control"
        />
        <div
          *ngIf="
            registerForm.get('confirmPassword')?.errors &&
            registerForm.get('confirmPassword')?.touched
          "
          class="text-danger mb-2"
        >
          <p
            *ngIf="
            registerForm.get('confirmPassword')?.errors?.['required']"
          >
            password is required
          </p>
          <p
            *ngIf="
            registerForm.get('confirmPassword')?.errors?.['maxlength']"
          >
            Max length is 10
          </p>
          <p
            *ngIf="
          registerForm.get('confirmPassword')?.errors?.['minlength']"
          >
            Min length is 6
          </p>
          <p
            *ngIf="
        registerForm.get('confirmPassword')?.errors?.['passwordsDoNotMatch']"
          >
            Passwords do not match.
          </p>
        </div>
      </div>

      <div class="mb-3 col-12 col-md-6">
        <label for="phoneNum" class="form-label">Phone number </label>
        <input
          type="text"
          formControlName="phoneNum"
          name="phoneNum"
          id="phoneNum"
          class="form-control"
        />
        <div
          *ngIf="
            registerForm.get('phoneNum')?.errors &&
            registerForm.get('phoneNum')?.touched
          "
          class="text-danger mb-2"
        >
          <p
            *ngIf="
            registerForm.get('phoneNum')?.errors?.['required']"
          >
            password is required
          </p>
          <p
            *ngIf="
          registerForm.get('phoneNum')?.errors?.['maxlength']"
          >
            Max length is 14
          </p>
          <p
            *ngIf="
        registerForm.get('phoneNum')?.errors?.['minlength']"
          >
            Min length is 10
          </p>
        </div>
      </div>

      <div class="mb-3 col-12 col-md-6">
        <label for="formFile" class="form-label"
          >Choose your profile image</label
        >
        <input
          class="form-control"
          type="file"
          id="formFile"
          formControlName="profileImg"
          name="profileImg"
        />
        <!-- <p
          *ngIf="
            registerForm.get('profileImg')?.errors?.['required']"
        >
        Profile image is required
        </p> -->
      </div>
      <p class="cursor-pointer">
        You have an account!
        <a routerLink="/sign-in" class="text-danger" style="cursor: pointer"
          >Sign In</a
        >
      </p>
      <button type="submit" class="py-2 px-4" [disabled]="registerForm.invalid">
        Register
      </button>
    </form>
    <div class="text-center">
      <h6>Or Sign Up With</h6>
      <app-social-auth></app-social-auth>
    </div>
  </div>
</section>
