<section class="hero">
  <swiper
  style="height: 500px;"
  [slidesPerView]="1"
  [spaceBetween]="10"
  [autoplay]= "{
    delay:3000
    }"
    [loop]="true"
  [pagination]="{ clickable: true }"
  >
  <ng-template swiperSlide>
    <img
    src="../../assets/images/carousle/1.png"
    class="d-block w-100"
    alt="..."
  />
  <div class="hero-title">
    <h1>BIGGEST SALE</h1>
    <h3>DONT MISS IT</h3>
  </div>
  
  </ng-template>
  <ng-template swiperSlide>
    <img
    src="../../assets/images/carousle/2.png"
    class="d-block w-100"
    alt="..."
  />
  <div class="hero-title">
    <h1>BIGGEST SALE</h1>
    <h3>DONT MISS IT</h3>
  </div></ng-template>
  <ng-template swiperSlide>
    <img
    src="../../assets/images/carousle/3.png"
    class="d-block w-100"
    alt="..."
  />
  <div class="hero-title">
    <h1>BIGGEST SALE</h1>
    <h3>DONT MISS IT</h3>
  </div></ng-template>
  <ng-template swiperSlide>
    <img
    src="../../assets/images/carousle/4.png"
    class="d-block w-100"
    alt="..."
  />
  <div class="hero-title">
    <h1>BIGGEST SALE</h1>
    <h3>DONT MISS IT</h3>
  </div></ng-template>
  </swiper>
  <div class="hero-footer border mb-5">
    <div class="container">
      <div class="hero-footer row">
        <div class="col-md-3 col-12 d-flex align-items-center">
          <img
            src="../../assets/images/hero/icons/screenshoteasy (3).png"
            alt=""
          />
          <div>
            <b>BONUS PLUS</b>
            <p>Get a bonus plus for buying more that three products</p>
          </div>
        </div>
        <div class="col-md-3 col-12 d-flex align-items-center">
          <img
            src="../../assets/images/hero/icons/screenshoteasy (2).png"
            alt=""
          />
          <div>
            <b>FREE SHIPPING</b>
            <p>Free shipping on all orders over $99</p>
          </div>
        </div>
        <div class="col-md-3 col-12 d-flex align-items-center">
          <img
            src="../../assets/images/hero/icons/screenshoteasy (5).png"
            alt=""
          />
          <div>
            <b> MONEY BACK GUARANTEE</b>
            <p>100% money back guarantee</p>
          </div>
        </div>
        <div class="col-md-3 col-12 d-flex align-items-center">
          <img
            src="../../assets/images/hero/icons/screenshoteasy (4).png"
            alt=""
          />
          <div>
            <b>ONLINE SUPPORT 24/7</b>
            <p>Call us: 02 357765 65454 55</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>