<section class="featured">
  <div class="container-custom">
    <h4 class="mb-5 title">FEATURED ITEMS</h4>
    <swiper [navigation]="true" [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let pro of productsData">
        <div class="wapper-swiper" *ngIf="productsData.length && !Isloading">
          <div class="overlay-icons d-flex flex-column">
            <i class="bi bi-heart" (click)="addToWish(pro)"></i>
            <i class="bi bi-eye" (click)="showDetails(pro)"></i>
            <i class="bi bi-recycle"></i>
          </div>
          <div style="background-color: #f5f5f5; padding: 0.3rem">
            <img
              [src]="pro.image"
              alt="img"
              style="width: 70%; margin: 1rem auto; display: block"
            />
          </div>
          <div (click)="showDetails(pro)" class="pro-data">
            <p>{{ pro.title }}</p>
            <h6>{{ pro.description }}</h6>
            <div class="ratings my-2">
              <div class="stars d-flex">
                <div class="theme-text me-2">Product Ratings:</div>
                <p-rating
                  [iconOffStyle]="{ fontSize: '10px' }"
                  [iconOnStyle]="{ color: '#EF6C00', fontSize: '10px' }"
                  [stars]="5"
                  [(ngModel)]="pro.rate"
                  [readonly]="true"
                  [cancel]="false"
                ></p-rating>
              </div>
            </div>
            <h5>${{ pro.price }}</h5>
          </div>
          <button (click)="addToCart(pro)">ADD TO CART</button>
        </div>
        <app-skeleton
          *ngIf="Isloading"
          [heightData]="sekletonHeight"
        ></app-skeleton>
      </ng-template>
    </swiper>
  </div>
</section>
