
.header{
    a{
        color: #000;
    }
    .head1{
        margin-bottom: 1rem;
        .nav1-right{
            ul{
                li{
                    a{
                        font-family: 'Roboto', sans-serif;
                    }
                    
                }
            }
        }

    }
    .head2{
        .logo{
            h1{
                font-weight: 700;
                cursor: pointer;
            }
        }
        .search-input-Wapper{
            border: solid 1px rgba(128, 128, 128, 0.452);
            padding: 0 !important;

            input:first-child{
                width: 70%;
                padding: .5rem;
            }
            input:nth-child(2) {
                background: #EF6C00;
                color: #fff;
                padding:  .75rem 2rem;
              }
        }
    }
    nav{
        ul{
            li{
                a{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 13px;
                }
            }
        }
    }
}