<div class="container-fluid">
  <div class="header">
    <div class="row pt-4 head1 justify-content-end">
      <div class="nav1-right col-md-6">
        <ul class="d-flex justify-content-end">
          <li routerLink="wish-list">
            <a
              ><img src="../../assets/icons/heart.svg" alt="WISHLIST" />
              WISHLIST</a
            >
          </li>
          <li>
            <a class="ms-5 me-5"
              ><img src="../../assets/icons/fullscreen-exit.svg" alt="person" />
              COMPARE</a
            >
          </li>
          <li>
            <a class="me-5"
              ><img src="../../assets/icons/person-fill.svg" alt="person" /> My
              Account</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="head2 row justify-content-between align-items-center">
      <div class="logo col-2" routerLink="">
        <h1 class="ms-5">BEROWN<span class="logo-dot">.</span></h1>
      </div>
      <div
        class="search-input-Wapper col-6 d-flex ms-5 justify-content-between"
      >
        <input type="text " placeholder="type to search..." class="" />
        <input type="button" value="SEARCH" class="" />
      </div>
      <div class="d-flex col-2 justify-content-end" routerLink="cart">
        <p class="position-relative d-inline">
          <span class="cart-count">{{ theCartLength }}</span
          ><i class="fa-solid fa-cart-shopping text-dark fs-6"></i> $0.00
        </p>
        <p class="me-5 ms-1"></p>
      </div>
    </div>
    <hr />
    <nav>
      <ul class="row ms-5 me-5 justify-content-center text-center">
        <li class="col-2"><a routerLink="/">HOME</a></li>
        <li class="col-2"><a href="#">PRODUCTS</a></li>
        <li class="col-2"><a href="">ABOUT</a></li>
        <li class="col-2"><a routerLink="/contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</div>
