<section class="populer">
  <div class="container-custom">
    <h4 class="mb-5 title">POPULAR ITEMS</h4>
    <swiper [config]="swiperConfig" [navigation]="true">
      <ng-template swiperSlide *ngFor="let pro of productsData; let i = index" >
        <div class="wapper-swiper" >
          <div class="overlay-icons d-flex flex-column ">
            <i class="bi bi-heart" (click)="addToWish(pro)"></i>
            <i class="bi bi-eye"></i>
            <i class="bi bi-recycle"></i>
          </div>
          <div style="background-color: #f5f5f5; padding: 0.3rem">
            <img
              [src]="pro.image"
              alt="img"
              style="width: 70%; margin: 1rem auto; display: block"
            />
          </div>
          <div (click)="showDetails(pro)" class="pro-data">
            <p>{{ pro.title }}</p>
            <h6>{{ pro.description }}</h6>
            <div class="ratings my-2">
              <div class="stars d-flex">
                <div class="theme-text mr-2">Product Ratings:</div>
                <div>&#9733;</div>
                <div>&#9733;</div>
                <div>&#9733;</div>
                <div>&#9733;</div>
                <div>&#9733;</div>
              </div>
            </div>
            <h5>${{ pro.price }}</h5>
          </div>
        </div>
        <button (click)="addToCart(pro)">ADD TO CART</button>
      </ng-template>
    </swiper>
  </div>
</section>
