<section class="our-blog">
    <h4 class="mb-3 title text-center">Latest From Our Blog</h4>
<div class="container-custom">
  <div class="row ">
    <div class="col">
      <div class="card">
        <img
          src="../../assets/images/hero/b1.jpg"
          class="card-img-top"
          alt="img"
        />
        <div class="card-body">
          <h5 class="card-title">How To Improve Your Market</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <a href="#">See More</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img
            src="../../assets/images/hero/b1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">How To Improve Your Market</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.
            </p>
            <a href="#">See More</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../assets/images/hero/b1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">How To Improve Your Market</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.
            </p>
            <a href="#">See More</a>
          </div>
        </div>
      </div>
  </div>
  
</div>
</section>