<footer>
  <div class="container-custom">
    <div class="row gx-4 justify-content-between">
      <div class="right col-md-4  col-12">
        <ul>
          <li>
           <h3>Contact Us</h3>
          </li>
          <li><p href="#">Apple St, New York, NY 10012, USA</p></li>
          <li><p href="#"> (20) 65 524 8503 / (20) 954 7854</p></li>
          <li><p href="#">example@gmail.com </p></li>
          <li>
            <i class="bi bi-google"></i>
            <i class="bi bi-google-play"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
          </li>
        </ul>
      </div>
      <div class="left col-md-4  col-12">
        <h2>BEROWN<span class="logo-dot">.</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          mollitia, aspernatur dolor incidunt sint neque.mollitia, aspernatur dolor incidunt.
        </p>
        <p>All rights reserved. copyright © {{dateYear}}</p>
      </div>
    </div>
  </div>
</footer>
