footer {
  text-align: center;
  font-size: 15px;
  padding: 8rem 0 1rem 0;
  .right{
    ul{
      li{
        line-height: .9rem;
        i{
          font-size: 1.7rem;
          margin-right: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

/////// Media ////////

@media screen and (max-width:920px){
  footer{
    .right{
      ul{
        li{
          i{
            font-size: 1.2rem;
    
          }
        }
      }
    }
  }
 
}
