<section class="hot-offer ">
    <div class="main-img mb-5">
      <img src="../../assets/images/hero/banerce.png" alt="main-img" />
    </div>
    <div class="container-custom">
      <div class="items row">
        <div class="left col-6 col-md-3">
          <h4>Featured Products</h4>
          <div class="card" style="max-width: 540px" *ngFor="let pro of proSlice1Item" >
            <div class="row g-0" (click)="goToPro(pro.id)">
              <div class="col-md-4">
                <img
                  [src]="pro.image"
                  class="img-fluid rounded-start"
                  [alt]="pro.title"
                />
              </div>
              <div class="col-md-8" [title]="pro.description">
                <div class="card-body">
                  <h5 class="card-title">{{pro.description}}</h5>
                  <p class="card-text">
                   {{pro.title}}
                  </p>
                  <div class="card-text">
                    <div class="ratings my-2">
                      <div class="stars">
                        <div class="theme-text">Product Ratings: </div>
                        <p-rating [iconOffStyle]="{fontSize:'10px'}" [iconOnStyle]="{color:'#EF6C00',fontSize:'10px'}" [stars]="5" [(ngModel)]="pro.rate" [readonly]="true" [cancel]="false"></p-rating>
                      </div>
                    </div> 
                    <h5 class="text-muted">${{pro.price}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center col-6 col-md-3">
          <h4>Top Selling Products</h4>
          <div class="card" style="max-width: 540px" *ngFor="let pro of proSlice2Item">
              <div class="row g-0" (click)="goToPro(pro.id)">
                <div class="col-md-4">
                  <img
                    [src]="pro.image"
                    class="img-fluid rounded-start"
                    [alt]="pro.title"
                  />
                </div>
                <div class="col-md-8" [title]="pro.description">
                  <div class="card-body">
                    <h5 class="card-title">{{pro.description}}</h5>
                    <p class="card-text">
                     {{pro.title}}
                    </p>
                    <div class="card-text">
                      <div class="ratings my-2">
                        <div class="stars">
                          <div class="theme-text">Product Ratings: </div>
                          <p-rating [iconOffStyle]="{fontSize:'10px'}" [iconOnStyle]="{color:'#EF6C00',fontSize:'10px'}" [stars]="5" [(ngModel)]="pro.rate" [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                      </div> 
                      <h5 class="text-muted">${{pro.price}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="right col-6  col-md-3">
          <h4>Hot Offer Products</h4>
          <div class="card" style="max-width: 540px" *ngFor="let pro of proSlice3Item">
              <div class="row g-0" (click)="goToPro(pro.id)">
                <div class="col-md-4">
                  <img
                    [src]="pro.image"
                    class="img-fluid rounded-start"
                    [alt]="pro.title"
                  />
                </div>
                <div class="col-md-8" [title]="pro.description">
                  <div class="card-body">
                    <h5 class="card-title">{{pro.description}}</h5>
                    <p class="card-text">
                     {{pro.title}}
                    </p>
                    <div class="card-text">
                      <div class="ratings my-2">
                        <div class="stars">
                          <div class="theme-text">Product Ratings: </div>
                          <p-rating [iconOffStyle]="{fontSize:'10px'}" [iconOnStyle]="{color:'#EF6C00',fontSize:'10px'}" [stars]="5" [(ngModel)]="pro.rate" [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                      </div> 
                      <h5 class="text-muted">${{pro.price}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="left col-6 col-md-3">
          <h4>Featured Products</h4>
          <div class="card" style="max-width: 540px" *ngFor="let pro of proSlice1Item" >
            <div class="row g-0" (click)="goToPro(pro.id)">
              <div class="col-md-4">
                <img
                  [src]="pro.image"
                  class="img-fluid rounded-start"
                  [alt]="pro.title"
                />
              </div>
              <div class="col-md-8" [title]="pro.description">
                <div class="card-body">
                  <h5 class="card-title">{{pro.description}}</h5>
                  <p class="card-text">
                   {{pro.title}}
                  </p>
                  <div class="card-text">
                    <div class="ratings my-2">
                      <div class="stars">
                        <div class="theme-text">Product Ratings: </div>
                        <p-rating [iconOffStyle]="{fontSize:'10px'}" [iconOnStyle]="{color:'#EF6C00',fontSize:'10px'}" [stars]="5" [(ngModel)]="pro.rate" [readonly]="true" [cancel]="false"></p-rating>
                      </div>
                    </div> 
                    <h5 class="text-muted">${{pro.price}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
